body {
  background: linear-gradient(rgb(44, 52, 212), #d11313);
  font-family: "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode",
    Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0px;
}

header {
  width: 100%;
  margin-top: 20px;
}

input {
  font-size: 0.86rem;
  font-weight: 200;
}

input,
select {
  height: 2rem;
  color: black;
  border-radius: 4px;
  border: 1px solid #bbb;
  padding: 0px 20px;
}

header h1,
header p {
  text-align: center;
  color: rgb(103, 3, 3);
}

header h1 {
  margin: 0px;
  font-weight: 2000;
}
header p {
  font-style: italic;
  font-weight: 1000;
}

label,
span,
p {
  font-size: 1.25rem;
}

.wrapper {
  width: 800px;
  height: 100%;
  margin: 0px auto;
  padding: 0px 50px;
  box-sizing: border-box;
  background-color: rgba(222, 234, 238, 0.6);
}

.form-container {
  background-color: rgba(163, 231, 220, 0.5);
  padding: 50px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
}

.form-group label,
.form-group p {
  margin-bottom: 5px;
}

.input-radio,
.input-checkbox {
  height: 1rem;
  width: 1.2rem;
}

.learn label,
.rec label {
  display: flex;
  align-items: center;
}

.input-textarea {
  font-family: "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode",
    Geneva, Verdana, sans-serif;
  min-height: 220px;
  max-height: 220px;
  min-width: 100%;
  max-width: 100%;
  overflow: visible;
  font-size: medium;
}

button[type="submit"] {
  font-family: "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode",
    Geneva, Verdana, sans-serif;
  background-color: aquamarine;
  padding: 5px;
  color: rgb(6, 48, 86);
  text-transform: uppercase;
  font-size: medium;
  border: none;
  border-radius: 4px;
  width: 200px;
  margin: auto;
}

button[type="reset"] {
  font-family: "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode",
    Geneva, Verdana, sans-serif;
  background-color: rgb(228, 15, 58);
  padding: 5px;
  color: rgb(6, 48, 86);
  text-transform: uppercase;
  font-size: medium;
  border: none;
  border-radius: 4px;
  width: 200px;
  margin: auto;
}
